[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
python-datauri = "*"
nudenet = "*"
pillow = "*"
requests = "*"
opencv-python-headless = "*"
numpy = "*"
fastapi = "*"
uvicorn = "*"
python-magic = "*"

[dev-packages]

[requires]
python_version = "3.9"
